/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* -------------------
    common styles
------------------- */
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
  margin-top: 50px;
}

/* ------------------
    banner style
------------------ */
.banner {
  width: 85%;
  border-radius: 30px;
  background-color: #161616;
  display: flex;
  align-items: center;
}

.banner-left {
  width: 50%;
  color: white;
  padding: 80px;
}
.banner-title {
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  margin: 0;
}
.banner-text {
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 45px;
}
.button {
  text-decoration: none;
  padding: 16px 25px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  background-color: #dd0000;
  color: white;
  border-radius: 5px;
  transition: box-shadow 0.5s ease;
  animation: sliding 10s ease-in-out 0.5s infinite alternate;
}
.button:hover {
  background-color: rgb(98, 88, 88);
  box-shadow: 0px 0px 20px 15px rgba(64, 196, 248, 0.5);
}

.banner-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-right img {
  width: 28%;
  height: 90%;
  position: absolute;
  bottom: 0px;
}
